<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="jreast.database.windows.net" />
		<add key="Initial Catalog" value="sfstool" />
		<add key="Persist Security Info" value="False" />
		<add key="User ID" value="Codingon" />
		<add key="Password" value="sfs2751!" />
		<add key="MultipleActiveResultSets" value="False" />
		<add key="Encrypt" value="True" />
		<add key="TrustServerCertificate" value="False" />
		<add key="Connection Timeout" value="30" />
	</appSettings>

</configuration>
